.popup__wraper-form {
  position: relative;
  background-color: #fff;
  min-width: 282px;
  border-radius: 10px;
  box-sizing: border-box;
}

@media screen and (min-width: 530px) {
  .popup__wraper-form {
    width: 430px;
  }
}
